@import url(./components/poster.css); 
@import url(./components/grids.css);
@import url(./components/button.css);
@import url(./components/footer.css);
@import url(./components/nav.css);


:root {
  --color-fondo: #0f172a;
  --color-superficie: #1e293b;
  --color-primario: #e11d48;
  --color-secundario: #f59e0b;
  --color-texto: #f8fafc;
  --color-texto-suave: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
}

main > section > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 32px 0 32px 0; 
    color: var(--color-texto);
    text-transform: uppercase; 
    letter-spacing: 2px;
}