.btn-principal {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;

    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;

    transition: background-color 0.3s;
}

.btn-principal:hover {
    background-color: #ae0249;
    box-shadow: 0 4px 8px #000000;
    transform: translateY(-2px);
}

/* Media Query */
@media (max-width: 768px) {
    .btn-principal {
    width: 100%; 
    padding: 16px; 
    }
}

